__pycache__/
.vscode/
8-4-22/
9-2-22/
2021_11_29/
2022-09-08/
neutrophil_images_kevin/
venv/
myenv/
master.csv
townim/old_models
townim/old_models
townim/old_models
townim/experiments/*/*/model
cache/