__pycache__/
.vscode/
8-4-22/
9-2-22/
2021_11_29/
2022-09-08/
neutrophil_images_kevin/
venv/
myenv/
master.csv
townim/old_models
townim/experiments/*/*/model
cache/
townim/experiments/monocyte_clinical/fold_0
townim/experiments/monocyte_clinical/fold_1
townim/experiments/monocyte_clinical/fold_2
townim/experiments/monocyte_clinical/fold_3
townim/experiments/monocyte_clinical/fold_4
townim/experiments/neutrophil_clinical/fold_0
townim/experiments/neutrophil_clinical/fold_1
townim/experiments/neutrophil_clinical/fold_2
townim/experiments/neutrophil_clinical/fold_3
townim/experiments/neutrophil_clinical/fold_4
townim/experiments/*/train/model
townim/experiments/*/train/*/model
/townim/experiments/monocyte_clinical/test/*.npz
/townim/experiments/neutrophil_clinical/test/*.npz
/townim/experiments/monocyte_clinical/train/*/*.npz
/townim/experiments/neutrophil_clinical/train/*/*.npz
/townim/mlruns/*/*/artifacts/*.pth
/townim/mlruns/models