__pycache__/
.vscode/
8-4-22/
9-2-22/
2021_11_29/
2022-09-08/
neutrophil_images_kevin/
venv/
myenv/
cache/
master.csv
saved_models/
resnet50_model/
regression_model/
townim/old_models
townim/experiments/*/*/model
townim/experiments/*/*/figures/clustering
townim/experiments/*/*/figures/tsne
townim/experiments/*/models
townim/experiments/*/train/model
townim/experiments/*/train/*/model
townim/experiments/monocyte_clinical/test/*.npz
townim/experiments/neutrophil_clinical/test/*.npz
townim/experiments/monocyte_clinical/train/*/*.npz
townim/experiments/neutrophil_clinical/train/*/*.npz
townim/mlruns/*/*/artifacts/*.pth
townim/mlruns/models